<div class="box col-md-12">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Job For You</h1>
      <p class="slogan">人們總是在挑衣服要找適合自己身材的
        <br>
        如果你認為找工作也是同樣道理的話
        <br>
        立刻點擊下面的按鈕
      </p>
      <p class="lead">
        <%= link_to '立馬應徵', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">找工作？</h2>
        <p class="lead">JobForYou!</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">如果您不會寫履歷</h2>
        <p class="lead">您可以聯絡我們取得專業的建議</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">如果您沒有專業技能</h2>
        <p class="lead">同樣動動你的小手聯絡我們，我們將有專人給予建議</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
