
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

//---------Navbar---------

.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
}

.navbar-default {
    background-color: #0F0F0F;
    border-color: #212121;
    margin-bottom: 0;
    border-radius: 0;
}


.navbar-default .navbar-brand {
    color: #FAFAFA;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FAFAFA;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FAFAFA;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

.input-group{
  padding-top: 8px;
	width: 180px;
}

//---------Video-------

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

//---------Box---------

.box {
      background-image: image-url("header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
      height: 450px;


    .slogan {
        color: #FAFAFA;
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        top: 12px;
        padding-top: 50px;
    }

    .lead {
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
}
//---------About Us--------
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}
//---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    background-color: #ffffff;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

//---------Footer---------

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #0F0F0F;

  p {
    color: white;
    margin-top: 30px;
  }

  .social-media{
  	ul.list-inline{
  		display: inline-block;
  	}
  	a{
  		color: #878787;
  	}
  	float: right;
  	margin-top: 12px;
  	font-size: 20px;
  }
  .copyright{
  	display: inline-block;
  	line-height: 42px;
  }
}
