<div class="footer">
      <p class="text-center">Copyright ©2016 Rails101
        <br>By HankPan
      </p>
      <div class="social-media">
        <ul class="list-inline">
          <li a href="#"i class="icon-facebook"></i></a></li>
          <li a href="#"i class="icon-twitter"></i></a></li>
          <li a href="#"i class="icon-gplus"></i></a></li>
          <li a href="#"i class="icon-dribble"></i></a></li>
        </ul>
  </div>
